<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTS</title>
    <link rel="stylesheet" href="/style/adminPages1.css">
    <link rel="stylesheet" href="/style/adminPages2.css">
    <script src="https://kit.fontawesome.com/a550a1676b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="continer">
        <div class="layer1">
            <div class="logo">
                <img src="/asset/adminlog/adminLogo.png" alt="" class="logoimg">
            </div>
            <div class="searchBar">
                <!-- <input type="text" placeholder="  search product" class="searchBar1"> -->
            </div>
            <div class="logout">
                <a href="/admin/logout">
                        <button class="btn1">LOGOUT</button>
                    </a>
            </div>
        </div>
        <div class="layer2">
            <div class="tabs">
                <ul>
                    <li onclick="window.location.href='/admin/home'">DASHBOARD</li>
                    <li onclick="window.location.href='/admin/users'">USERS</li>
                    <li onclick="window.location.href='/admin/product'">PRODUCTS</li>
                    <li onclick="window.location.href='/admin/category'">CATEGORY</li>
                    <li onclick="window.location.href='/admin/coupons'">COUPONS</li>
                    <li onclick="window.location.href='/admin/orders'">ORDERS</li>
                    <li onclick="window.location.href='/admin/banner'">BANNERS</li>
                    <li onclick="window.location.href='/admin/blockedUsers'">BLOCKED USERS</li>
                </ul>
            </div>
                <div class="content_part">
                
                    <div class="products_list_head">
                        <p style="font-size: x-large; padding-left: 1.5rem;">Products</p>
                        <button class="add_product_btn_admin"><a href="/admin/addProduct" style="color: white;">Add Product</a></button>
                    </div>
                    
                    <hr>
                    <div class="wCondiner" >
                             <%  products.forEach(data=>{%>
                            <div class="productBox" id="productBox_<%=data._id%>">
                                <div class="img">
                                    <img src="/uploads/products/<%=data.productImages[0]%>" alt="" class="img1">
                                </div>
                                <div class="content">
                                    <table class="tableProduct">
                                        <tbody>
                                            <tr class="tableTr">
                                                <td class="tableTd"><b><%=data.productName%></b></td>
                                                <td class="tableTd new" colspan="2" rowspan="2"><b><i class="fa-solid fa-indian-rupee-sign"></i><%=data.newPrice%></b></td>
                                            </tr>
                                            <tr>
                                                <td class="tableTd"><%=data.category%></td>
                                                
                                            </tr>
                                            <tr>
                                                <td class="tableTd"><%=data.subCategory%></td>
                                                <td class="tableTd"><%=data.colour%></td>
                                                <td class="tableTd old" rowspan="3"><i class="fa-solid fa-indian-rupee-sign"></i><%=data.oldPrice%></td>
                                            </tr>
                                            <tr>
                                                <td class="tableTd"><%=data.size%></td>
                                                <td class="tableTd"><i class="fa-solid fa-layer-group"></i><%=data.quantity%></td>
                                            </tr>
                                            <tr>
                                                <td class="tableTd"><a href="/admin/editProduct/<%=data._id%>"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                                <td class="tableTd"><a href="#" onclick="deleteProduct('<%=data._id%>')"><i class="fa-solid fa-trash"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <%})%>   
                         </div> 
                
                
            </div>
        </div>
    </div>
    <script src="/js/deleteProduct.js"></script>
</body>
</html>