<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOCKED USERS</title>
    <link rel="stylesheet" href="/style/adminPages1.css">
    <link rel="stylesheet" href="/style/adminPages2.css">
    <script src="https://kit.fontawesome.com/a550a1676b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="continer">
        <div class="layer1">
            <div class="logo">
                <img src="/asset/adminlog/adminLogo.png" alt="" class="logoimg">
            </div>
            <div class="searchBar">
                <!-- <input type="text" placeholder="  search product" class="searchBar1"> -->
            </div>
            <div class="logout">
                <button class="btn1">LOGOUT</button>
            </div>
        </div>
        <div class="layer2">
            <div class="tabs">
                <ul>
                    <li onclick="window.location.href='/admin/home'">DASHBOARD</li>
                    <li onclick="window.location.href='/admin/users'">USERS</li>
                    <li onclick="window.location.href='/admin/product'">PRODUCTS</li>
                    <li onclick="window.location.href='/admin/category'">CATEGORY</li>
                    <li onclick="window.location.href='/admin/coupons'">COUPONS</li>
                    <li onclick="window.location.href='/admin/orders'">ORDERS</li>
                    <li onclick="window.location.href='/admin/banner'">BANNERS</li>
                    <li onclick="window.location.href='/admin/blockedUsers'">BLOCKED USERS</li>
                </ul>
            </div>
            <div class="content_part">

                <div class="products_list_head">
                    <p style="font-size: x-large; padding-left: 1.5rem;">BLOCKED USERS </p>
                   
                </div>

                <div class="product_list">
                    <div class="product_table">
                        <table>

                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Action</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach(data=>{%>
                                <tr id="userRow_<%=data._id%>">
                                    <td><%=data.name%></td>
                                    <td><%=data.email%></td>
                                    <td><%=data.phone%></td>
                                    <td style="text-align: center;">
                                        <a href="#" onclick="unblockUser('<%=data._id%>')"><i class="fa-solid fa-unlock"></i></a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="#" onclick="deleteUser('<%=data._id%>')"><i class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                                <%})%>
                            </tbody>
    
                        </table>
                    </div>
                </div>

                         
            </div>
        </div>
    </div>
    <script>
        function unblockUser(userId) {
            Swal.fire({
                title: "Are you sure?",
                text: "they  show the main page",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, unblock it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Send delete request using Axios
                    console.log(userId);
                    axios.patch(`/admin/blockedUsers/${userId}`)
                    .then(response => {
                        // Check if deletion was successful
                        if (response.status === 200) {
                            // If successful, remove the category row from the UI
                            const rowToRemove = document.getElementById(`userRow_${userId}`);
                            if (rowToRemove) {
                                rowToRemove.remove();
                            }
                            // Show success message using SweetAlert
                            Swal.fire({
                                title: "Unblocked!",
                                text: "User Unblocked successfully.",
                                icon: "success"
                            });
                        } else {
                            // If deletion failed, show error message using SweetAlert
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to unblock user. Please try again later.",
                                icon: "error"
                            });
                        }
                    })
                    .catch(error => {
                        // If an error occurred during the request, show error message using SweetAlert
                        
                        Swal.fire({
                            title: "Error!",
                            text: "An error occurred while processing your request. Please try again later.",
                            icon: "error"
                        });
                    });
            }
        });
        }
        function deleteUser(userId){
            Swal.fire({
                title: "Are you sure?",
                text: "the dosn't login this email ",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, Delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Send delete request using Axios
                    console.log(userId);
                    axios.delete(`/admin/userDelete/${userId}`)
                    .then(response => {
                        // Check if deletion was successful
                        if (response.status === 200) {
                            // If successful, remove the category row from the UI
                            const rowToRemove = document.getElementById(`userRow_${userId}`);
                            if (rowToRemove) {
                                rowToRemove.remove();
                            }
                            // Show success message using SweetAlert
                            Swal.fire({
                                title: "Deleted!",
                                text: "User deleted  successfully.",
                                icon: "success"
                            });
                        } else {
                            // If deletion failed, show error message using SweetAlert
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to delete user. Please try again later.",
                                icon: "error"
                            });
                        }
                    })
                    .catch(error => {
                        // If an error occurred during the request, show error message using SweetAlert
                        
                        Swal.fire({
                            title: "Error!",
                            text: "An error occurred while processing your request. Please try again later.",
                            icon: "error"
                        });
                    });
            }
        });
        }
    </script>
</body>
</html>