<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COUPONS</title>
    <link rel="stylesheet" href="/style/adminPages1.css">
    <link rel="stylesheet" href="/style/adminPages2.css">
    <script src="https://kit.fontawesome.com/a550a1676b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="continer">
        <div class="layer1">
            <div class="logo">
                <img src="/asset/adminlog/adminLogo.png" alt="" class="logoimg">
            </div>
            <div class="searchBar">
                <!-- <input type="text" placeholder="  search product" class="searchBar1"> -->
            </div>
            <div class="logout">
                <button class="btn1">LOGOUT</button>
            </div>
        </div>
        <div class="layer2">
            <div class="tabs">
                <ul>
                    <li onclick="window.location.href='/admin/home'">DASHBOARD</li>
                    <li onclick="window.location.href='/admin/users'">USERS</li>
                    <li onclick="window.location.href='/admin/product'">PRODUCTS</li>
                    <li onclick="window.location.href='/admin/category'">CATEGORY</li>
                    <li onclick="window.location.href='/admin/coupons'">COUPONS</li>
                    <li onclick="window.location.href='/admin/orders'">ORDERS</li>
                    <li onclick="window.location.href='/admin/banner'">BANNERS</li>
                    <li onclick="window.location.href='/admin/blockedUsers'">BLOCKED USERS</li>
                </ul>
            </div>
            <div class="content_part">

                <div class="products_list_head">
                    <p style="font-size: x-large; padding-left: 1.5rem;">Coupons</p>
                    <button class="add_product_btn_admin"><a href="/admin/addCoupon" style="color: white;">Add Coupon</a></button>
                </div>

                <div class="product_list">
                    <div class="product_table">
                        <table>

                            <thead>
                                <tr>
                                    <th>Coupon Name</th>
                                    <th>Coupon Code</th>
                                    <th>Discount %</th>
                                    <th>Purchase Above</th>                                                                             
                                    <th>Starting Date</th>
                                    <th>Ending Date</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% coupon.forEach(data=>{%>
                                <tr id="couponRow_<%=data._id%>">
                                    <td><%=data.couponName%></td>
                                    <td><%=data.couponCode%></td>
                                    <td><%=data.discount%></td>
                                    <td><%=data.purchaceAbove%></td>
                                    <td><%=data.startingDate%></td>
                                    <td><%=data.endingDate%></td>
                                    <td>
                                        <a href="#" onclick="deleteCoupon('<%=data._id%>')"><i class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                                <%})%>
                            </tbody>
    
                        </table>
                    </div>
                </div>

                         
            </div>
        </div>
    </div>
    <script src="/js/deleteCoupon.js"></script>
</body>
</html>